#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=CPU-G
TryExec=/opt/extras.ubuntu.com/cpu-g/bin/cpu-g
Exec=/opt/extras.ubuntu.com/cpu-g/bin/cpu-g
Icon=/opt/extras.ubuntu.com/cpu-g/share/icons/cpu-g.png
StartupNotify=true
Terminal=false
Type=Application
Categories=System;
X-KDE-SubstituteUID=true
